header {
    height: 8rem;
    background-color: $headerColor;
    padding: 28px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: $appTitle;
    color: $tvColor;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo-icon {
    font-size: 48px;
    padding: 8px;
    margin-right: 1rem;
}

.header-menu {
    color: $tvColor;
    font-size: 60px;
    cursor: pointer;
}